<div class="bgblue text-light p-2">
    <div>
        <h1 class="text-center mt-5"
            style="
            font-family: Oswald-Regular;
            font-size: 48px;
            line-height: 3rem;
            ">Váš partner</h1>
    </div>

    <div class="row justify-content-center mb-5">
        <p class="col-lg-6 text-center mt-5"
            style="
            font-family: OpenSans;
            font-size: 16px;
            line-height: 1.6rem;">
            ​​NETRUNNERS je spoločnosť s pôsobením na Rakúskom trhu. Naším cieľom je dodávať kvalitný personál z oblasti IT na projekty, ktoré si vyžadujú mnohoročnú prax a skúsenosti. Chceme spájať tých najlepších.
        </p>
    </div>

</div>
