<div style="background-color: #4f4f4f;">
  <div class="container" style="
  padding-top:200px;
  padding-bottom: 100px;
  ">
  
    <div class="d-flex justify-content-center mb-5 text-light">
      <p style="font-size: 48px;font-weight:bolder;font-family:OpenSans;">FAQ</p>
    </div>
  
    <p class="text-center mt-5 text-light"
      style="font-style: italic;
      font-size: 1rem;
      "
      >Tu nájdete najčastejšie kladené otázky </p>
  

  <div class="mt-5"></div>
  
    <mat-accordion class="example-headers-align" multix>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Kedy je výplatný termín ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Výplatný termín je ku 15. dňu mesiaca.</p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>​Môžem pracovať ako freelancer ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Samozrejme, takúto možnosť spolupráce podporujeme.
              <br><br>
              Avšak majte na pamäti, že sa na Vás nevzťahujú napríklad benefity, dovolenky atď....
              <br><br>
              Toto však už asi viete.</p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>​Kedy je splatná faktúra ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Faktúru spravidla uhrádzame po 30 dňoch od dátumu vystavenia.</p>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Ste Slovenská, alebo zahraničná firma ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Sme slovenská firma.</p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Ako rozumieť odmenám, ktoré sú uvedené "od" ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              Odmena je od určitého minima - pod túto sumu nejdeme. V podstate sa tam uvádzajú minima také, aké nám boli poskytnuté našimi klientami.
              <br>    <br>
              To však neznamená, že toto je konečná suma.
              <br><br>
              Je to vec vyjednávania na oboch stranách - Vašej a objednávateľa počas pohovorov a následného vyjednávania podmienok.
  
              <br><br>
              Z našej strany platí, že sa budeme snažiť využiť aj našu vyjednávajúcu pozíciu vo Váš prospech.
              <br><br>
              Spravidla platí, že miera skúseností ide ruka v ruke s Vašou cenou.</p>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Ako si založím firmu, alebo živnosť ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p style="line-height: 2rem ;">
              <li>Radi Vás budeme sprevádzať celým procesom založenia podnikania, ako aj úskaliami, rizikami a najmä benefitmi. </li>
  
              <li>Pomôžeme a poradíme Vám sídlo podnikania. </li>
  
              <li>Vysvetlíme aké povinnosti  máte ako podnikateľský subjekt voči štátu, ako a koľko platiť sociálne a zdravotné odvody.</li>
  
              <li>Je dobré spomenúť, že zakladanie firmy nerobíme my, ale externá firma. Na druhú stranu živnosť zvládnete aj sami.</li>
  
              <li>Niečo málo to síce stojí, ale sú to skôr drobné a položky sú účtovateľné do tzv. účtovných nákladov.</li>
              <p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>​Ako je to s prácou na diaľku a home office ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Spravidla naši klienti umožňujú 50% a viac práce vykonávanej z domu. Podporujeme koncept Remote Work.
  <br><br>
  <br>
              Pomer práce on-prem vs. remote work je riešený individuálne podľa potrieb Vašich aj klienta.
              <br><br>
              Môže sa však stať, že klient má podmienku, ktorá vyžaduje aby Ste boli nejakú časť v office, hoci nie nutne u nich. V tomto prípade Váš office zabezpečíme my.</p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>​Ako na účtovníctvo ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Priamo my účtovnícto my nerobíme, ale vieme Vám dohodnúť spoľahlivú účtovnú spoločnosť, ktorej služby sami využívame.
  
            </p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>​Ako je to s DPH ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Ak Ste platca DPH, faktúruje nám sumu s DPH a ďalej postupujete normálne v zmysle zákona.
  <br><br>
  Ak platca DPH nie Ste, faktúrujete nám sumu bez DHP a my ju odvedieme za nás.</p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Ste platcami DPH ?</p>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>Áno sme. Naše IČ DPH je uvedené v päte stránky a emailových podpisoch a na faktúrach.</p>
          </mat-expansion-panel>
  
  
        </mat-accordion>
  
  </div>
</div>