<div class="d-flex justify-content-center bgblue">
    <div style="
        min-height:500px;
        padding:40px;
        padding-left: 80px;
        padding-right: 80px;

        "
        class="row">

<div class="col-lg m-3" style="border:2px solid white;min-height: 350px;padding-top:90px;">
    <div class="d-flex justify-content-center">
        <img src="/assets/icons/icon4.png" class="card-img-top img" alt="..." style="width:48px;">
    </div>
    <div class="card-body p-5">
        <h5 class="card-title text-center text-light" 
        style="
        font-family:OpenSans;
        font-size:72px;
        font-weight:lighter;
        "><strong>1000+</strong></h5>
        <p class="card-text text-center text-light mt-5"
        style="
        font-family:OpenSans;
        font-size:16px;
        line-height: 1.6rem;
        font-style: italic;
        ">
        Dodaných mandayov pre zákazníkov
        </p>
    </div>
</div>

<div class="col-lg m-3" style="border:2px solid white;min-height: 350px;padding-top:90px;">
    <div class="d-flex justify-content-center">
        <img src="/assets/icons/icon5.png" class="card-img-top img" alt="..." style="width:48px;">
    </div>
    <div class="card-body p-5">
        <h5 class="card-title text-center text-light" 
        style="
        font-family:OpenSans;
        font-size:72px;
        font-weight:lighter;
        "><strong>10+</strong></h5>
        <p class="card-text text-center text-light mt-5"
        style="
        font-family:OpenSans;
        font-size:16px;
        line-height: 1.6rem;
        font-style: italic;
        ">
        Rokov skúseností v oblasti IT
        </p>
    </div>
</div>

<div class="col-lg m-3" style="border:2px solid white;min-height: 350px;padding-top:90px;">
    <div class="d-flex justify-content-center">
        <img src="/assets/icons/icon6.png" class="card-img-top img" alt="..." style="width:48px;">
    </div>
    <div class="card-body p-5">
        <h5 class="card-title text-center text-light" 
        style="
        font-family:OpenSans;
        font-size:72px;
        font-weight:lighter;
        "><strong>75+</strong></h5>
        <p class="card-text text-center text-light mt-5"
        style="
        font-family:OpenSans;
        font-size:16px;
        line-height: 1.6rem;
        font-style: italic;
        ">
        ​Ukončených projektov
        </p>
    </div>
</div>

</div>