<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap'); </style>

<div style="
    min-height: 768px;
    height: 100vh;
    background: linear-gradient(
    #4f4f4fDD 0%,
    #4f4f4fDD 100%
    ),
        url('https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg');
        background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   "
   id="homeTop">


    <div class="d-flex row justify-content-around" style="padding-top: 200px;">
        <div class="col-lg-6k">
            <div class="text-center text-light"
            style="font-size: 48px;
            font-weight: light;
            font-family: 'Montserrat', sans-serif;
            line-height: 60px;
            position:relative;

            "></div>
            
            
            <div class="text-center text-lightx"
                style="font-size: 5.5rem;
                padding-top: 25%;
                color:#fFF;
                font-family: 'MontserratAlt1-Thin' !important;
                font-weight: 800;
                line-height: 50px;
                position:relative;
                right:0px;
                /*-webkit-text-stroke: 1px purple;*/

                /*text-shadow: 0px 0px 30px #FF00FF;*/
                ">NETRUNNERS
            </div>

            <div class="d-flex row justify-content-center"
            style="padding-top: 250px ;">

            </div>
        </div>
    </div>
</div>
