<div class="d-flex justify-content-center">
    <div style="padding: 40px;display: inline-block;max-width:1600px;">
        <h1 class="text-center mt-5" style="font-family: Oswald-Regular; font-size: 36px;">Hľadáme</h1>
        <p class="text-center mt-5 p-2" style="font-family: OpenSans; font-size: 16px;line-height: 1.6rem;">​Poskytujeme služby v oblasti outsourcingu, poskytujeme naše know-how pre dosiahnutie našich spoločných cieľov.</p>
        <div class="bgwhite row d-flex justify-content-center" style="padding: 40px;display: inline-block;">
    
            <div class="col-lg m-2 card" style="border:none;">
                <div class="d-flex justify-content-center">
                    <img src="/assets/icons/developer.png" class="card-img-top img" alt="..." style="width:96px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" 
                        style="
                        font-family:OpenSans;
                        font-size:30px;
                        font-weight:lighter;">
                        <strong>Vývojári</strong></h5>
                    <p class="card-text text-center mt-5"
                    style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">
                        Šikovní developeri webových aplikácií pracujúci s danými technológiami.
                        Cenia sa skúsenosti s programovaním front-end, backed, či full-stack, alebo klasických a mobilných appiek.
                    </p>
                    <div class="d-flex justify-content-center mt-5 mb-3">
                        <button style="
                        border:none;
                        background-color: transparent;
                        border-bottom: pink 2px solid;
                        font-family: OpenSans;
                        "
                        >PREZERAŤ</button>
                    </div>
                </div>
            </div>
    
            <div class="col-lg m-2 card" style="border:none;">
                <div class="d-flex justify-content-center">
                    <img src="/assets/icons/technical-support.png" class="card-img-top img" alt="..." style="width:96px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="font-family:OpenSans; font-size:30px;font-weight:lighter;"><strong>Administrátori</strong></h5>
                    <p class="card-text text-center mt-5"
                    style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">
                    Správcovia platforiem,
    seniorní admini, ktorí majú bohaté skúsenosti so správou OS a pridružených produktov od spoločnosti Microsoft, alebo systémov z rodiny Unix.
    SCVMM,Hyper-V, VMWare
                        
                    </p>
                    <div class="d-flex justify-content-center mt-5 mb-3">
                        <button style="
                        border:none;
                        background-color: transparent;
                        border-bottom: pink 2px solid;
                        font-family: OpenSans;
                        "
                        >PREZERAŤ</button>
                    </div>
                </div>
            </div>
    
            <div class="col-lg m-2 card" style="border:none;">
                <div class="d-flex justify-content-center">
                    <img src="/assets/icons/devops.png" class="card-img-top img" alt="..." style="width:96px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="font-family:OpenSans; font-size:30px;font-weight:lighter;"><strong>DevOps</strong></h5>
                    <p class="card-text text-center mt-5"
                    style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">
                    Borci schopí plniť náročné úlohy v rámci časového plánu v rámci sprintov, alebo waves metodológie Agile.
                    Skriptovanie, automatizácia a znalosť operačných systémov - to najlepšie z oboch svetov.
                    </p>
                    <div class="d-flex justify-content-center mt-5 mb-3">
                        <button style="
                        border:none;
                        background-color: transparent;
                        border-bottom: pink 2px solid;
                        font-family: OpenSans;
                        "
                        >PREZERAŤ</button>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>