<div class="d-flex justify-content-center" >
    <div class="bgwhite row d-flex justify-content-center mt-5" style="padding: 40px;display: inline-block;max-width:1600px;">

        <div class="col-lg m-2" style="border:none;">

            <div class="d-flex justify-content-center">
                <img src="/assets/pictures/firma.jpg" class="card-img-top img" alt="..." >
            </div>
            <div class="card-body p-5x">
                <h5 class="card-title text-center" style="font-family:Oswald-Regular; font-size:30px;font-weight:lighter;"><strong>Firma</strong></h5>
                <p class="card-text text-center mt-5"
                style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">Dodávame personál pre významné agentúry v AT predovšetkým pre mobilných operátorov, klientov v energetike, a sieťových odvetviach.
                </p>
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <button style="
                    border:none;
                    background-color: transparent;
                    border-bottom: pink 2px solid;
                    font-family: OpenSans;
                    "
                    >
                    <br><br><br>
                    ZISTIŤ VIAC</button>
                </div>
            </div>
        </div>

        <div class="col-lg m-2 card" style="border:none;">
            <div class="d-flex justify-content-center">
                <img src="/assets/pictures/personal.jpg" class="card-img-top img" alt="...">
            </div>
            <div class="card-body p-5x">
                <h5 class="card-title text-center" style="font-family:Oswald-Regular; font-size:30px;font-weight:lighter;"><strong>Personál</strong></h5>
                <p class="card-text text-center mt-5"
                style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">
                Naši partneri a zamestnanci sú expertmi v oblasti cloudových technológií a riešení, virtualizácie, kontajnerizácie a automatizácie úloh v daných prostrediach.

                </p>
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <button style="
                    border:none;
                    background-color: transparent;
                    border-bottom: pink 2px solid;
                    font-family: OpenSans;
                    "
                    >
                    <br><br>
                    ZISTIŤ VIAC</button>
                </div>
            </div>
        </div>

        <div class="col-lg m-2 card" style="border:none;">
            <div class="d-flex justify-content-center">
                <img src="/assets/pictures/zamestnanie.jpg" class="card-img-top img" alt="...">
            </div>
            <div class="card-body p-x5">
                <h5 class="card-title text-center" style="font-family:Oswald-Regular; font-size:30px;font-weight:lighter;"><strong>Zamestnanie</strong></h5>
                <p class="card-text text-center mt-5"
                style="font-family:OpenSans; font-size:16px;line-height: 1.6rem;">Uvedomujeme si, že patriť medzi najlepších to nie je len kariérny postup, ale aj rodina, rodičovstvo a dostatok času pre našich najbližších. Spoznajte naše benefity. Podporujeme home office a flexibilný pracovný čas.
                </p>
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <button style="
                    border:none;
                    background-color: transparent;
                    border-bottom: pink 2px solid;
                    font-family: OpenSans;
                    "
                    >ZISTIŤ VIAC</button>
                </div>
            </div>
        </div>

    </div>
</div>
