
<div class="footer">
    <div class="container-fluid d-flex justify-content-center text-white"  
    style="
    font-size: smaller; 
    padding:15px;
    font-family: Hind Madurai;">

        <div class="mx-auto">

            <p class="my-0 mb-4"style="font-family: 'MontserratAlt1-Bold' !important;font-size:20px">
                NETRUNNERS
            </p>
            <p class="my-0">Budatínska 3230/16</p>
            <p class="my-0">Bratislava - mestská časť Petržalka 851 04</p>
            <p class="my-0 mb-3">Tel: +421 948 647 481</p>
            <p class="my-0">IČO: 52 942 996</p>
            <p class="my-0">IČ DPH: SK 2121 2345 88</p>
        </div>
        <div class="mx-auto" style="font-size:15px; font-size:Montserrat;">
            <p class="my-1 mb-4"></p>
            <p class="my-1">Domov</p>
            <p class="my-1">Kariéra</p>
            <p class="my-1">O nás</p>
            <p class="my-1">FAQ</p>
            <p class="my-1">Kontakt</p>
            <p class="my-1">Prihlásenie</p>
        </div>

    </div>
</div>