<div class="bgblue">
  <div class="container-fluid masthead fva">
    <div class="mx-auto container" style="padding-top:150px;padding-bottom:50px;max-width: 600px;">
      <form #searchForm="ngForm" (ngSubmit)="listJobs()" autocomplete="off">
        <input type="text" [(ngModel)]="params.title" class="inp form-control" placeholder="seach in title" name="title">
        <br>
        <input type="text" [(ngModel)]="params.techstack" class="inp form-control" placeholder="search in skills" name="techstack">
        <br>
        <mat-chip-list #chipList="matChipList" selectable multiple aria-label="Jop type selection">
          <mat-chip #c="matChip" *ngFor="let type of jobType" (click)="toggleSelection(c,chipList)" [selected]=chipSelect(type.typeChips)>{{type.typeChips}}</mat-chip>
        </mat-chip-list>
        <br>
        <div class="btn-group" style="width: 100%;" dropdown>
          <button id="button" dropdownToggle type="button" class="inp form-control" aria-controls="dropdown-disabled-item">
            <p *ngIf="params.language !== undefined" class="text-left" style="position: absolute;top:30%">{{params.language}}</p>
            <p *ngIf="params.language === undefined || params.language ===''" class="text-left" style="position: absolute;top:30%">Select language</p>
            <p class="dropdown-toggle" style="position: absolute; top:30%; right: 1rem;"></p>
          </button>
          <ul id="dropdown" style="width: 100%;" *dropdownMenu class="dropdown-menu text-dark inp" role="menu" aria-labelledby="button-disabled-item">
            <li role="menuitem">
              <div class="dropdown-item text-dark" (click)="selectLanguage('English')">English</div>
            </li>
            <li role="menuitem">
              <div class="dropdown-item text-dark" (click)="selectLanguage('Deutsch')">Deutsch</div>
            </li>
          </ul>
        </div>
        <div class="form-check">
          <input [(ngModel)]="params.jobclosed" name="name" class="form-check-input" (click)="closedJobsToggle()" type="checkbox" checked="toggleClosedJobsOnly">
          <label class="form-check-label text-white" for="flexCheckDefault"> Closed jobs only </label>
        </div>
      </form>
      <div class="d-flex justify-content-center" style="max-width: 50%; margin-left: 25%; margin-top: 30px; padding-left: 3px; padding-right: 3px;">
        <button class="btnc-sm btnc-primary mr-2" (click)="listJobs()">
          <i class="fa fa-search"></i>Search </button>
        <button class="btnc-sm btnc-info" (click)="resetFilter(chipList)">Reset</button>
      </div>
      <button class="btnc-sm btnc-secondary mt-4" (click)="openModal(templateType)">Create new job</button>
    </div>
  </div>
  <div class="fva">
    <div class="">
      <!-- table here -->
      <table mat-table [dataSource]="job" class="container mx-auto mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="click(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Project Column -->
        <ng-container matColumnDef="Project">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project name</th>
          <td mat-cell *matCellDef="let project">{{project.jobTitle}}</td>
        </ng-container>
        <!-- JobType Column -->
        <ng-container matColumnDef="JobType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Job type</th>
          <td mat-cell *matCellDef="let project">{{project.jobType}}</td>
        </ng-container>
        <!-- Primary Skill Column -->
        <ng-container matColumnDef="PrimarySkill">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Primary Skill</th>
          <td mat-cell *matCellDef="let project">{{project.primarySkill}}</td>
        </ng-container>
        <!-- Secondary Skill Column -->
        <ng-container matColumnDef="SecondarySkill">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Secondary Skill</th>
          <td mat-cell *matCellDef="let project">{{project.secondarySkill}}</td>
        </ng-container>
        <!-- Language Column -->
        <ng-container matColumnDef="Language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let project">{{project.language}}</td>
        </ng-container>
        <!-- City Column -->
        <ng-container matColumnDef="Link">
          <th mat-header-cell *matHeaderCellDef>Source Link</th>
          <td mat-cell *matCellDef="let project">
            <a href="{{project.sourceUrl}}" target="_blank" class="link-primary">{{project.source}}</a>
          </td>
        </ng-container>
        <!-- SourceID Column -->
        <ng-container matColumnDef="SourceID">
          <th mat-header-cell *matHeaderCellDef>Source ID</th>
          <td mat-cell *matCellDef="let project">{{project.sourceID}}</td>
        </ng-container>
      </table>
    </div>
  </div>
</div>
<ng-template #templateType>
  <div class="modal-header" style="background-color: #BBB;">
    <p class="fva xl text-dark mx-auto">New job creation</p>

  </div>
  <div class="modal-body" style="background-color: #e6e6e6;">
    <button class="btn my-2  btn-primary" (click)="createJob(myform)">Create JobFromOrig</button>
    <!--MODAL STARTS HERE-->
    <div class="bg1 invert fva">
      <div class="op4 invert">
        <div class="container" style="background:#e6e6e6;">
          <div class="jobdetail container-fluid" style="position:relative; padding-top: 50px; padding-bottom: 70px;white-space: pre-line;">
            <div>
              <form #myform="ngForm" autocomplete="off">

                <h3>Job title</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="jobTitle" ngModel>
                <hr>
                <h3>Language</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="Language" ngModel="English">
                <hr>
                <h3>Job State</h3>
                <mat-chip-list #chipListSTATE="matChipList" selectable aria-label="Jop state selection" name="State" ngModel="{{jobStateHelperVar}}">
                  <mat-chip #c="matChip" *ngFor="let state of jobState" (click)="JobStateSelected(c,chipListSTATE)" name="jobState">{{state.stateChips}}</mat-chip>
                  <mat-chip (click)="openModal(templateState)">+</mat-chip>
                  <ng-template #templateState>
                    <div class="modal-header">
                      <h2 class="fva">Enter new state:</h2>
                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control mr-sm-2" placeholder="add job state" [matChipInputFor]="chipListSTATE" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addJobState($event)">
                    </div>
                  </ng-template>
                </mat-chip-list>
                <hr>
                <h3>City</h3>
                <mat-chip-list #chipListCITY="matChipList" selectable aria-label="Jop city selection" name="City" ngModel="{{jobCityHelperVar}}">
                  <mat-chip #c="matChip" *ngFor="let city of jobCity" (click)="JobCitySelected(c,chipListCITY)" name="jobType">{{city.cityChips}}</mat-chip>
                  <mat-chip (click)="openModal(templateCity)">+</mat-chip>
                  <ng-template #templateCity>
                    <div class="modal-header">
                      <h2 class="fva">Enter new job city:</h2>
                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control mr-sm-2" placeholder="add job type" [matChipInputFor]="chipListCITY" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addJobCity($event)">
                    </div>
                  </ng-template>
                </mat-chip-list>
                <hr>
                <h3>Job type</h3>
                <mat-chip-list #chipListJOBTYPE="matChipList" selectable aria-label="Jop type selection" name="jobType" ngModel="{{jobTypeHelperVar}}">
                  <mat-chip #c="matChip" *ngFor="let type of jobType" (click)="JobTypeSelected(c,chipListJOBTYPE)" name="jobType">{{type.typeChips}}</mat-chip>
                  <mat-chip (click)="openModal(templateType)">+</mat-chip>
                  <ng-template #templateType>
                    <div class="modal-header">
                      <h2 class="fva">Enter new job type:</h2>
                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control mr-sm-2" placeholder="add job type" [matChipInputFor]="chipListJOBTYPE" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addJobType($event)">
                    </div>
                  </ng-template>
                </mat-chip-list>
                <h3>Tech stack:</h3>
                <p>{{myform.value |json}}</p>

                <hr>
                <h3>Job Description</h3>
                <textarea class="form-control" id="jobDescription" name="jobDescription" rows="20" name="jobDescription" ngModel=""></textarea>
                <h3>Your tasks</h3>
                <textarea class="form-control" id="tasks" name="tasks" rows="12" name="tasks" ngModel></textarea>
                <h3>Your profile</h3>
                <textarea class="form-control" id="yourProfile" name="yourProfile" rows="15" name="yourProfile" ngModel></textarea>
                <h3>You can expect</h3>
                <textarea class="form-control" id="youCanExpect" name="youCanExpect" rows="8" name="youCanExpect" ngModel={{youCanExpect}}></textarea>
                <h3>Further information</h3>
                <textarea class="form-control" id="furtherInformation" name="furtherInformation" rows="15" name="furtherInformation" ngModel={{furterInfo}}></textarea>
                <hr>
                <h3>Start date</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="startDate" ngModel="ASAP">
                <hr>
                <h3>Gross salary</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="salary" ngModel=0>
                <hr>
                <h3>Source company</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="Source" ngModel="iTEC">
                <hr>
                <h3>Source company Id</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="" name="sourceId" ngModel=0>
                <hr>
                <h3>Source URL</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="Paste source URL from other company" name="sourceUrl" ngModel>
                <hr>
                <h3>Job URL on NETRUNNERS</h3>
                <input type="text" class="form-control mr-sm-2" placeholder="press the button to generate URL" name="jobUrl" ngModel={{cloudUrl}}>
                <button (click)="assembleUrl(myform)" class="btn my-2 btn-info">generate URL</button>
                <select name="jobClosed" class="form-control mr-sm-2" name="jobClosed" [(ngModel)]="jobClosedHelperVar">
                  <option [ngValue]="false">Position opened</option>
                  <option [ngValue]="true">Position not opened</option>
                </select>
              </form>

              <button class="btn my-2  btn-primary" (click)="createJob(myform)">Create Job</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>