<header class="bg1" style="height: 100px;">
</header>
<div class="container" style="white-space: pre-line; font-family: Hind Madurai; margin-top:150px;">
    <div class="jobdetail container text-center">

        <h1 class="text-center" style="white-space: pre-line; font-weight:bolder;font-family: Montserrat; font-size:large;">Naša spoločnosť</h1><br><br>
        <div style="font-size:large;letter-spacing: 0.001em;line-height: 1.7rem;">
        NETRUNNERS je slovenská spoločnosť, ktorá dodáva služby pre rakúsky trh.<br>
        Pre našich partnerov hľadáme a dodávame kvalitnú pracovnú silu zo Slovenska.<br>
        Našu spoločnosť sme založili, aby sme ponúkali služby a príležitosti každému, kto sa pohybuje v IT oblasti.<br><br>

        Uvedomujeme si, že v skutočnosti existuje veľa pracovných miest a málo vhodnej a ochotnej pracovnej sily.<br>
        Sme tu pre to, aby sme túto nerovnosť vyvažovali a pritom ponúkli možnosť lepšieho a kvalitnejšieho života západnej Európy.
        <br>
        <br>
        Skvelou správou je, že mnohé pozície nevyžadujú aby Ste sa pohli z vášho súčasného miesta pobytu - mnohé pozícíe sú v režime REMOTE WORK.
        <br>
        Stante sa naším partnerom a na vlastnej koži zistite ako chutí úspech.<br><br>

        Je toho tak veľa, čo sa dá skúsiť.
        </div>                               
    </div> 

    <div class="d-flex justify-content-center mt-5">
        <img src="assets/1.svg" alt="our company" style="width: 350px;">
    </div>

    <div style="margin-top: 100px;margin-bottom: 100px;">
        <div class="d-flex justify-content-center" style="padding:30px;">
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
        </div>
    </div>
    
    
    <div class="container mx-auto">
        <h1 class="text-center" style="white-space: pre-line; font-weight:bolder;font-family: Montserrat; font-size:large;">Čo hľadáme</h1><br><br>
        <div class="container mx-auto" style="font-size:medium;letter-spacing: 0.001em;line-height: 1.7rem;">
            <ul>
                <li>Šikovní vývojári webových aplikácií pracujúci s technológiami Javascript, Angular, ReactJS a pod..</li>
                <li>Skúsení developeri, ktorí sa špecializujú na jazyky ako C# alebo JAVA, programátori RESTAPI</li>
                <li>Windows Server inžinieri, ktorí majú bohaté skúsenosti so správou OS a pridružených produktov od spoločnosti Microsoft</li>
                <li>Správcovia systému Unix, GNU Linux a FreeBSD</li>
                <li>Inžinieri Microsoft Azure cloud</li>
                <li>Inžinieri Amazon Web Services</li>
                <li>Developeri a Inžinieri on-prem/public/hybridných cloudových riešení</li>
                <li>Skúsení Hyper-V inžinieri</li>
                <li>Skúsení VMWare inžinieri</li>
                <li>Špecialisti v oblasti kontajnerizácie Docker a orchestrátora Kubernetes</li>
            </ul>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-5">
        <img src="assets/2.svg" alt="languages" style="width: 350px;">
    </div>
    
    
    <div style="margin-top: 100px;margin-bottom: 100px;">
        <div class="d-flex justify-content-center" style="padding:30px;">
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
            <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
        </div>
    </div>

    <div class="jobdetail container mx-auto">
    <h1 class="text-center" style="white-space: pre-line; font-weight:bolder;font-family: Montserrat; font-size:large;">Čo ponúkame</h1><br><br>
    <div class="container mx-auto" style="font-size:medium;letter-spacing: 0.001em;line-height: 1.7rem;">
        <ul>
            <li>Dobre platené, stabilné prostredie pre významné rakúske spoločnosti<br></li>
            <li>Môžete si vybrať typ pracovno-právneho vzťahu. Buďte zamestnanec alebo Freelancer<br></li>
            <li>Pomôžeme vám založiť spoločnosť od A po Z. Vieme ako, poradíme.<br></li>
            <li>Chcete viac? Pre Vašu bezstarostnosť Vám vieme zaobstarať aj účtovnícke služby<br></li>
            <li>Mzdy a faktúry vyplatené včas a bez omeškania.<br></li>
            <li>Robíme všetko pre to, aby sme boli vnímaní ako férový a stabilný partner<br></li>
            <li>V neposlednom rade - veľmi atraktívne finančné ohodnotenie</li>
        </ul>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <img src="assets/3.svg" alt="languages" style="width: 350px;">
    </div>


        <div style="margin-top: 100px;margin-bottom: 100px;">
            <div class="d-flex justify-content-center" style="padding:30px;">
                <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
                <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
                <div style="width:5px;height: 5px; background-color:black;border-radius: 50%;margin:20px;"></div>
            </div>
        </div>

        <h1 class="text-center" style="white-space: pre-line; font-weight:bolder;font-family: Montserrat; font-size:large;">Vy ako náš partner</h1><br><br>
        <div class="d-flex" style="font-size:medium;letter-spacing: 0.001em;line-height: 1.7rem;">
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 mt-5" style="min-width: 500px;">
                    <ul>
                        <li>Spoľahlivý</li>
                        <li>Skutočný pracant</li>
                        <li>Túžba po vývoji</li>
                        <li>Viete dobre spravovať svoj čas a úlohy</li>
                        <li>Chcete poznať nové technológie</li>
                        <li>Robte dobré meno sebe a svojej krajine</li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <div class="d-flex justify-content-center">
                        <img src="assets/4.svg" alt="languages" style="width: 350px;">
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
